@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

* {
  margin: 0; 
  padding: 0; 
  box-sizing: border-box;
  font-family: "Press Start 2P", sans-serif;
}

html {
  overflow: hidden;
}

:root {
  --snake-speed: .5s ease;
}

#snake {
  display: inline-block;
  background-color: #000;
  width: 50px;
  height: 50px;
}

main {
  display: grid;
  grid-template-columns: 2.5fr 1fr;
}

.main-left, 
.main-right {
  height: 100vh;
}

.main-left {
  padding: 30px;
}

.main-right {
  padding: 75px 0;
}

.main-right > * {
  text-align: center;
}

.main-right__time {
  margin-top: 50px;
  font-size: 18px;
}

.main-right__time__value {
  display: block;
  margin-top: 20px;
  font-size: 22px;
}

.main-right__scores {
  margin-top: 30px;
}

.main-right__scores > *:not(:last-child) {
  margin-bottom: 12px;
}

.main-right__snake__score {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-right__snake__score > *:not(:first-child) {
  margin-left: 15px;
}

.main-right__snake__score__color {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  border: 1px solid #000;
}

.main-right__snake__score__color.fire-snake {
  background-color: red;
}

.main-right__snake__score__color.water-snake {
  background-color: blue;
}

#main-window {
  position: relative;
  border: 1px solid #000;
  width: 100%;
  height: 100%;
}

.snake {
  list-style: none;
}

.snake__dot {
  position: absolute;
  width: 16px;
  height: 16px; 
  background-color: #000;
  right: 0;
}

